<header>
   <div class="row justify-content-center align-items-center">
	   <div class="col-md-6 col-12">
		   <a href="#"><img src="http://bugmastersmurray.com/assets/images/logo_100h.png" class="img-fluid logo-head" alt="Bug Master's Logo"></a>
	   </div>
	   
	   <div class="co-md-3 header-info med-hide">
		   <div class="row">
			   <div class="col-lg-2 align-self-start med-hide">
				   <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
			   </div>
			   
			   <div class="col-lg-10 col-md-12">
				   <p>Phone:</p>
				   <p>KY: (270) 761-BUGS</p>
				   <p>TN: (731)642-9367</p>
			   </div>
		   </div>
	   </div>
	   
	   <div class="col-lg-3 header-info med-hide">
		   <div class="row">
			   <div class="col-lg-2 align-self-start med-hide">
				   <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
			   </div>
			   <div class="col-lg-10 col-md-12">
				   <p>Address:</p>
				   <p>414 N 4th St.</p>
				   <p>Murray, KY 42071</p>
			   </div>
	   </div>
    </div> 
</header>