<div class="row justify-content-center">
   <div class="col">
   		<nav class="navbar navbar-expand-md navbar-light bg-light mb-3 nav-bg-custom">
   			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
   				<span class="navbar-toggler-icon"></span>
   			</button>
   			
   			<div class="collapse navbar-collapse" id="navbarCollapse">
   				<ul class="navbar-nav text-md-center nav-justified w-100">
		        	<li class="nav-item">
		            	<a class="nav-link" href="http://bugmastersmurray.com/">Home</a>
		            </li>
		            
		            <li class="nav-item">
		            	<a class="nav-link" href="http://bugmastersmurray.com/site/our-services/">Services</a>
		            </li>
		            
		            <li class="nav-item">
		            	<a class="nav-link" href="http://bugmastersmurray.com/site/pest-library/">Pest Library</a>
		            </li>
		            
		            <li class="nav-item">
		            	<a class="nav-link" href="http://bugmastersmurray.com/site/contact-us/">Contact</a>
		            </li>
		        </ul>
  			</div>
		</nav>
   </div>
</div>